{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for img in imagenes %}
    <div class="carousel-item {% if forloop.first %} active {% endif %}"  data-bs-interval="5000">
      <img src="../{{ img.imagen }}" class="d-block w-100" alt="{{ img.titulo|default:'Imagen de galería' }}">
      <div class="carousel-caption d-none d-md-block">
          <h5>{{ img.titulo }}</h5>
          <p>{{ img.descripcion }}</p>
      </div>
    </div>      
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}